---
const { offre } = Astro.props;
import PbImage from "./PbImage.astro";
---

<div class="card">
    <a href={`/offres/${offre.id}`}>
        <PbImage record={offre} recordImage={offre.images[0]} />
    </a>

    <h2>{offre.nom_maison}</h2>

    <h2>{offre.prix} €</h2>

    <h2>{offre.nbSdb} salle(s) de bain</h2>
    <h2>{offre.nbChambres} chambre(s)</h2>
    <h2>{offre.superficie} m²</h2>


    {offre.favori && <span class="favori">★ Favori</span>}
</div>

<style>
    .card {
        border: 1px solid #ddd;
        padding: 1rem;
        border-radius: 8px;
        max-width: 260px;
    }
    img {
        width: 100%;
        border-radius: 6px;
    }
    .favori {
        color: gold;
        font-weight: bold;
    }
</style>
